<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation in HTML & CSS | CodingNepal</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Login Form</header>
    
    <div id="error-message" class="error-message" th:if="${error}" style="color: red;">
      <p th:text="${error}"></p>  
    </div>

    <form th:action="@{/login}" method="post" th:object="${loginUser}">
      <div class="field email">
        <div class="input-area">
          <input type="text" name="username" placeholder="Enter your email" required>
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Email can't be blank</div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" th:field="*{password}" placeholder="Enter your password" required>
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <div class="pass-txt"><a href="#">Forgot password?</a></div>
      <input type="submit" value="Login">
    </form>
    <div class="sign-txt">Not yet member? <a href="/registration">Register now</a></div>
  </div>

  <script src="/javascript/script.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
 timerErrorMessage();
});
</script>

</body>
</html>