<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration </title> 
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration Form</h2>

    <div id="errorMessage" th:if="${errorMessage}" style="color: red;" >
      <p th:text="${errorMessage}"></p>
    </div>
    
    <form th:action="@{/registration}" method="post" th:object="${registerDto}">
      <div class="input-box">
        <input type="text" th:field="*{name}" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="email" th:field="*{email}" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" th:field="*{password}" placeholder="Enter your password" required>
      </div>
      <div class="input-box">
        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm your password" required>
      </div>
      <div class="policy">
        <input type="checkbox" name="checkbox" value="check">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="submit" value="Register">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </form>

  </div>
  <script src="/javascript/script.js"></script>
  <script>
       document.addEventListener("DOMContentLoaded", function() {
    timerErrorMessage();
});
  </script>

</body>
</html>