<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Your Name">
    <meta name="description" content="Reset Password Page">
    <meta name="keywords" content="reset password, user account, security">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/resetpw.css">
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form th:action="@{/reset_password}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Enter your new password" required autofocus />
                <p id="password-match" class="password-match">Passwords do not match</p>
            </div>
            <div class="form-group">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your new password" required oninput="checkPasswordMatch(event);"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password"/>
            </div>
            <div id="message" class="success-message">
                <p th:text="${message}"></p>
                <p th:text="${error}"></p>
            </div>
        </form>
        <div class="footer-links">
            <p>Remembered your password? <a href="/login">Login</a></p>
        </div>
    </div>
</body>
<script >
    function checkPasswordMatch(event) {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;

    if (confirmPassword !== password) {
        document.getElementById("confirmPassword").setCustomValidity("Passwords do not match.");
        event.preventDefault(); // Prevent form submission
    } else {
        document.getElementById("confirmPassword").setCustomValidity(""); // Clear the error
    }
}
</script>
</html>