/* src/main/resources/static/css/style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: orange; /* Optional: background color for the body */
}

.content-cat {
    position: absolute;
    margin: 10px 0; /* Adds some space between the content blocks */
    padding: 20px;
}

.content-cat img {
    border: none;
    border-radius: 10px; /* Optional: rounded corners for the image */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
}

.content-new-cat{
    border: none;
    position: absolute;
    background-color: black;
}

h1 {
    color: blue;
    background-color: white;
    text-align: center;
    size: 50px;
    border-radius: 10px;
}

